/* Вьюпорты */
$mobile-width-only: 767px;
$tablet-width: 768px;
$before-desktop-width: 920px;
$desktop-width: 1280px;
$desktop-width-after: 1440px;
$vp-360: 360px;
$vp-768: 768px;
$vp-1280: 1280px;

/* Шрифты */
$font-family: "Montserrat", "Arial", sans-serif;
$fz-default: 16px;
