.about {
  padding: 0 16px;

  @media(min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media(min-width: $desktop-width-after) {
    padding-top: 120px;
  }
}

.about__caption {
  padding-left: 42px;
  position: relative;
  margin-bottom: 32px;

  @media(min-width: $desktop-width-after) {
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
  }

  &::before {
    content: "";
    background-image: url("../../icons/about.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
      @media(min-width: $desktop-width-after) {
      top: 6px;
      }
  }
}

.about__text {
  margin: 0 0 20px;
  min-height: 120px;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-zinc-400);
}
