.button-scroll {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--color-amber-600);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: var(--color-amber-800);
      transition: color 0.6s ease;
    }
  }

  &:focus,
  &:focus-visible {
    color: var(--color-amber-800);
    transition: color 0.6s ease;
    outline: none;
  }

    &:active {
    color: var(--color-amber-800-8);
    transition: color 0.6s ease;
    }
}
