.button-primary {
  display: block;
  text-align: center;
  margin: 0 auto 32px;
  border: none;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: var(--color-amber-600);
  color: var(--color-white);
  min-height: 25px;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  transition: background-color 0.6s ease;

   @media (hover: hover) {
    &:hover {
      background-color: var(--color-amber-800);
      transition: background-color 0.6s ease;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: var(--color-amber-800);
    transition: background-color 0.6s ease;
    outline: none;
  }

    &:active {
    background-color: var(--color-amber-800-8);
    transition: background-color 0.6s ease;
    }
}
