.card {
  border-radius: 14px;
  outline: 1px solid var(--color-zinc-700);
  transition: outline 0.6s ease;
  outline-offset: -1px;
  overflow: hidden;

  @media (hover: hover) {
    &:hover {
      outline-color: var(--project-border-hover);
      transition: outline 0.6s ease;
    }
  }

  &:focus,
  &:focus-visible {
    outline-color: var(--project-border-hover);
    transition: outline 0.6s ease;
  }
}

.card__img-wrapper {
  height: size-mobile(160px);
  width: 100%;
  background: linear-gradient(to bottom, var(--zinc-900), var(--zinc-700));
  opacity: 0.6;
  border-radius: 14px 14px 0 0;
  overflow: hidden;
  position: relative;

  @media(min-width: $desktop-width) {
    height: 160px;
  }
}

.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__description {
  padding: 16px;
  background-color: var(--zinc-800);

  @media(min-width: $desktop-width-after) {
    display: none;
  }
}

.projects-list__item--open .card__description {
  @media(min-width: $desktop-width-after) {
    display: block;
  }
}

.card__specification {
  display: grid;
  overflow: hidden;
  grid-template-rows: minmax(0, 0fr);
  transition: grid-template-rows 0.6s ease;
  padding-top: 5px;
  @media(min-width: $desktop-width) {
    transition: none;
  }


  &--open {
    grid-template-rows: minmax(0, 1fr);
    transition: grid-template-rows 0.6s ease;

     @media(min-width: $desktop-width) {
    transition: none;
  }
  }
}

.card__caption {
  margin: 0 0 20px;
  color: var(--color-white);
  font-weight: 700;
}

.card__info {
  color: var(--color-zinc-400);
}

.card__contest-info {
  margin: 0;
  color: var(--color-zinc-400);
}

.card__contest-item::marker  {
  color: oklch(0.666 0.179 58.318);
}

.card__info-item::marker {
  color: oklch(0.666 0.179 58.318);
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: var(--base-black);
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-white);
  transition: background-color 0.6s ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-button-hover);
      transition: background-color 0.6s ease;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: var(--color-button-hover);
    outline: none;

  }

  &:active {
    background-color: var(--color-button-active);
    transition: background-color 0.6s ease;
  }

  &::before {
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    mask-image: url("../../icons/link.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-white);
    mask-size: 20px;
  }
}

  .projects-list__item--open .card__img-wrapper{
    @media(min-width: $desktop-width) {
      height: size-tablet(500px);
    }

    @media(min-width: $desktop-width-after) {
      height: 577px;
    }
  }

  .card__repo-link {
    margin-top: 32px;
  }


.projects-list__item--open .card__img{
      @media(min-width: $desktop-width-after) {
      height: auto;
    }
  }
