.footer__wrapper {
  padding: 50px 16px;
  max-width: 1440px;

  @media(min-width: $tablet-width) {
    padding: 50px 30px;
  }

  @media(min-width: $desktop-width-after) {
    margin: 0 auto;
  }
}
.footer__button {
  margin-left: auto;
}
