.header-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--base-black);
  color: var(--color-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;

  @media(min-width: $desktop-width-after) {
    gap: 32px;
  }
}

.header-menu__link {
  color: var(--color-white);
  transition: color 0.6s ease;

  @media(min-width: $desktop-width-after) {
    font-size: 16px;
    line-height: 18px;
  }
  @media (hover: hover) {
    &:hover {
      color: var(--color-amber-600);
      transition: color 0.6s ease;
    }
  }

  &:focus,
  &:focus-visible {
    color: var(--color-amber-600);
    transition: color 0.6s ease;
    outline: none;
  }

  &:active {
    color: var(--color-amber-700);
    transition: color 0.6s ease;
  }
}

