.projects-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media(min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
  }

  @media(min-width: $desktop-width-after) {
    align-items: start;
  }
}

.projects-list__item {
  margin-bottom: 20px;

  @media(min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin-bottom: 0;
  }

  &--open {
    @media(min-width: $desktop-width) {
      grid-row: 1 / 7;
      grid-column: 1 / 2;
    }
  }
}

.projects-list__item .card__button {
  @media(min-width: $desktop-width) {
    display: none;
  }
}

.projects-list__item--open .card__specification {
  @media(min-width: $desktop-width) {
    grid-template-rows: minmax(0, 1fr);
  }
}

