.skills {
  padding: 16px 16px 80px;
  @media(min-width: $tablet-width) {
    padding: 16px 30px 80px;
  }
}

.skills__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skills__item {
  padding: 12px 24px;
  background-color: var(--skills-bg);
  border: 1px solid var(--skills-border);
  border-radius: 10px;
}

.skills__text {
  margin: 0 0 20px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  min-height: 40px;
  color: var(--color-zinc-400);
}

.skills__caption {
  text-align: center;
  margin-bottom: 32px;
}

